{
    "port": "3333",
    "webPath": "./www/",
    "uploadPath": "./uploads/",
    "playAudioURL": "http://127.0.0.1/play_audio",
    "volScalingFactor": "0.10",
    "username": "root",
    "password": "123456"

}
